*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html{
    //esto define el tamaño de 1rem
    font-size: 62.5%; // 1rem = 10px
}

body{
    box-sizing: border-box;
    background-color: $color-primary;
    color: $color-white;
}