// Colors

$color-white: #fff;
$color-black: #000;

$color-primary: #000;
$color-primary-light: #0C0C0C;
$color-primary-light-2: #141414;

//$color-secondary: #863C00;

$color-secondary: #e2bc13;

$color-red: #a30000;

$color-red-black-1: #820000;

$color-red-light-1: #ac1919;

$color-terciary: #333;

$color-gray: #777;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2:#eee;


$color-gray-dark-1:#777;
$color-gray-dark-2:#999;
$color-gray-dark-3:#333;

//FONT
$default-font-size: 1.6rem;

